# Dapatkan API key gratis dari penyedia berikut dan masukkan di sini.
# Ubah nama file ini menjadi .env.local untuk penggunaan lokal.

# WeatherAPI (Daftar di https://www.weatherapi.com)
WEATHER_API_KEY=

# OpenWeatherMap (Daftar di https://openweathermap.org/api)
OPENWEATHERMAP_API_KEY=
